:root {
    --black: #000;
    --semi-black: #191919;
    --gray: #9c9c9c;
    --light-gray: #bfbfbf;
    --blue: #03a9f4;
}

/* -general- */

body {
    overflow-x: hidden;
    font-size: 16px;
    margin: 0 !important;
    font-family: "Tajawal", sans-serif;
    direction: rtl;
}

* {
    outline: none;
    box-sizing: border-box;
}

/* -navbar- */
.navbar {
    padding: 15px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: transparent !important;
    transition: all 0.5s ease;
}

.navbar__container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__container>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.navbar__container>ul>li {
    font-size: 20px;
}

.navbar__container .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar__container .logo i {
    font-size: 45px;
    color: white;
    transition: all 0.5s ease;
}

.navbar__container .logo p {
    font-size: 30px;
    color: white;
    margin-right: 15px;
    transition: all 0.5s ease;
}
.navbar__container>ul>li:not(:last-child){
    margin-left: 28px;
}
.navbar__container>ul>li>a{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
}
.navbar__container>ul>li>a:hover{
    color: var(--blue);
    background-color: white;
}
.navbar__container--main{
    justify-content: space-between !important;
}

.navbar .active{
    color: var(--blue);
    background-color: white;
}
/* -hero- */

.hero {
    padding: 100px 90px 0;
    position: relative;
    background-image: linear-gradient(rgb(99 99 99 /60%), rgb(0 0 0 /60%)), url("../images/hero.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero__container>h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
    direction: rtl;
}

.hero__container>h3 {
    margin: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    direction: rtl;
}

.hero__container>.down-arrow {
    position: absolute;
    bottom: 45px;
    font-size: 30px;
    color: var(--blue);
}